.councilWidget {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  box-shadow: theme('dropShadow.DEFAULT');
  padding: theme('spacing.8');
  border-radius: theme('borderRadius.3xl');
  margin-bottom: theme('spacing.6');
}

.mobileDesktop {
  display: none;
}

.pieChart {
  width: 72px;
  height: 72px;
}

.rightPart {
  fill: theme('colors.green.light');
}

.leftPart {
  fill: theme('colors.red.light');
}

.scaleContainer {
  display: none;
}

@media screen(mobile) {
  .councilWidget {
    flex-direction: column;
    margin-bottom: theme('spacing.4');
  }

  .textDesktop {
    display: none;
  }

  .mobileDesktop {
    display: flex;
    margin-top: theme('spacing.3');
  }

  .pieChart {
    display: none;
  }

  .scaleContainer {
    display: flex;
  }

  .scaleContainerRoot {
    margin-top: theme('spacing.2');
  }

  .changePolicyButton {
    margin-top: theme('spacing.6');
  }
}
