.contentBlock {
  position: absolute;
  z-index: 1;

  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 1rem;

  background-color: theme('colors.white');
  box-shadow: theme('dropShadow.DEFAULT');
  border-radius: theme('borderRadius.3xl');
  max-width: 100%;
}

/* Depends of size button component */
.xxs {
  @apply top-6;
}

.xs {
  @apply top-8;
}

.sm {
  @apply top-8;
}

.md {
  @apply top-12;
}

.lg {
  @apply top-16;
}
/* /Depends of size button component */

/* Direction */
.start {
  @apply left-0;
}

.end {
  @apply right-0;
}
/* /Direction */

/* Offset */
.offset_xs {
  &.xxs {
    top: 1.625rem;
  }

  &.xs {
    top: 2.125rem;
  }

  &.sm {
    top: 2.125rem;
  }

  &.md {
    top: 3.125rem;
  }

  &.lg {
    top: 4.125rem;
  }
}

.offset_s {
  &.xxs {
    top: 1.75rem;
  }

  &.xs {
    top: 2.25rem;
  }

  &.sm {
    top: 2.25rem;
  }

  &.md {
    top: 3.25rem;
  }

  &.lg {
    top: 4.25rem;
  }
}

.offset_m {
  &.xxs {
    top: 2rem;
  }

  &.xs {
    top: 2.5rem;
  }

  &.sm {
    top: 2.5rem;
  }

  &.md {
    top: 3.5rem;
  }

  &.lg {
    top: 4.5rem;
  }
}

.offset_l {
  &.xxs {
    top: 2.25rem;
  }

  &.xs {
    top: 2.75rem;
  }

  &.sm {
    top: 2.75rem;
  }

  &.md {
    top: 3.75rem;
  }

  &.lg {
    top: 4.75rem;
  }
}
/* /Offset */
