.filtersContainer {
  display: flex;
  gap: 1rem;
  justify-content: space-between;
}

.filterGroup {
  display: flex;
  gap: 1rem;
}

.sortDateIcon {
  display: none;

  padding-right: 0.75rem;
  padding-left: 0.75rem;
}

.modal {
  width: calc(100vw - 2rem);
}

@media screen(mobile) {
  .statusText {
    display: none;
  }

  .kindButton {
    display: none;
  }

  .sortDateButton {
    display: none;
  }

  .sortDateIcon {
    display: flex;
  }
}
