.root {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  line-height: 2rem;
  cursor: pointer;
}

.left {
  flex-direction: row;
}

.right {
  flex-direction: row-reverse;
}

.disabled {
  opacity: 0.5;
}

.text {
  text-overflow: ellipsis;
  overflow: hidden;
}
