.portlet {
  background-color: theme('colors.white');
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
  box-shadow: theme('dropShadow.DEFAULT');
  padding: theme('gap.xl');
  border-radius: theme('borderRadius.3xl');
  width: 100%;
  @apply max-w-md;
}

@media screen(mobile) {
  .portlet {
    padding: theme('gap.lg');
  }
}

.row {
  flex-direction: row;
}

.full {
  min-width: 100%;
}

/** props.justify **/
.between {
  justify-content: space-between;
}
