# production
build
dist

# configuration
.env.local
.env.development.local
.env.test.local
.env.production.local

# End of https://www.toptal.com/developers/gitignore/api/windows,macos,linux,node,rust
test-results/
playwright-report/
playwright/.cache/

yup

node_modules
