# production
dist

# Covers JetBrains IDEs: IntelliJ, RubyMine, PhpStorm, AppCode, PyCharm, CLion, Android Studio, WebStorm and Rider
# Reference: https://intellij-support.jetbrains.com/hc/en-us/articles/206544839
.idea

# VS Code
.vscode

### Linux ###
*~

# temporary files which can be created if a process still has a handle open of a deleted file
.fuse_hidden*

# KDE directory preferences
.directory

# Linux trash folder which might appear on any partition or disk
.Trash-*

# .nfs files are created when an open file is removed but is still being accessed
.nfs*

### macOS ###
# General
.DS_Store
.AppleDouble
.LSOverride


# Thumbnails
._*

# configuration
packages/near-dapp/.env.local
packages/solana-dapp/.env.local
.env.development.local
.env.test.local
.env.production.local

# End of https://www.toptal.com/developers/gitignore/api/windows,macos,linux,node,rust
test-results/
playwright-report/
playwright/.cache/

yup

node_modules

# packages/*-dapp/shared/api/*/generated
generated
