.label {
  display: flex;
  flex-direction: column;

  .errorContainer {
    position: relative;
  }

  .error {
    @apply text-xs font-medium;

    position: absolute;
    color: #d80a1f;
    line-height: 1.25;
  }
}

.required {
  .content::after {
    content: '*';
    color: #d80a1f;
  }
}

/* sizes */

.md {
  .content,
  .error {
    font-size: theme('fontSize.xs');
  }
  .content {
    margin-bottom: theme('gap.1');
  }
}
