.listItem {
  display: inline-flex;
  align-items: center;
  max-width: 100%;
  height: 2.25rem;

  gap: 0.5rem;

  padding-right: 1rem;
  padding-left: 0.75rem;
  border-left: 0.25rem solid transparent;

  box-sizing: border-box;
  cursor: pointer;
  white-space: nowrap;
  list-style-type: none;

  color: #8a96a8;

  &:hover {
    border-left: 0.25rem solid theme('colors.blue.default');

    & .icon {
      color: theme('colors.blue.default');
    }
  }
}

.active {
  color: theme('colors.black');
  border-left: 0.25rem solid theme('colors.blue.default');

  & .icon {
    color: theme('colors.blue.default');
  }
}

.icon {
  color: theme('colors.blue.sat_1');
}

@media screen(mobile) {
  .listItem {
    height: 5rem;
  }
}
