.menuLabel {
  display: flex;
  align-items: center;
  color: theme('colors.black');
  white-space: nowrap;
}

.plain {
  background-color: theme('colors.blue.light');
  border-radius: theme('borderRadius.3xl');
}

.button {
  @apply px-4 gap-1;
}
