.root {
  position: relative;
  display: flex;
  flex-direction: column;
}

.menuLabel {
  display: flex;
  align-items: center;
  gap: 0.25rem;
  color: theme('colors.black');
}

.plain {
  background-color: theme('colors.blue.light');
  border-radius: theme('borderRadius.3xl');
}
