.nav {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-grow: 1;
}

.bottomNavigate {
  padding: 0 1rem;
}
.logoutButton {
  color: theme('colors.blue.textDefault');
}
