.badge {
  font-size: 12px;
  line-height: 15px;
  padding: 4px 6px;

  border-radius: 6px;
  display: inline-block;
}

.blue {
  color: theme('colors.blue.textDefault');
  background-color: theme('colors.roketo.lightBlue');
}

.orange {
  color: theme('colors.roketo.orange');
  background-color: #fff7ee;
}
