.sidebar {
  display: flex;
  flex-direction: column;

  min-width: 240px;
  height: 100vh;

  padding-top: 100px;

  background: theme('colors.white');

  @media screen and (max-width: theme('screens.mobile')) {
    display: none;
  }
}
