.root {
  position: relative;
  margin-top: 0.75rem;
}

.scaleContainer {
  display: flex;
  height: 0.75rem;
  overflow: hidden;
  border-radius: 0.5rem;
}

.rightPart {
  background-color: theme('colors.green.light');
}

.leftPart {
  background-color: theme('colors.red.light');
}

@media screen(mobile) {
  .scaleContainer {
    height: 1.5rem;
    border-radius: 0.75rem;
  }
}
