.scaleContainer {
  position: relative;
  display: flex;
  height: 1rem;
  margin-top: 0.75rem;
}

.positive {
  background-color: theme('colors.green.light');
  border-radius: 0.5rem 0 0 0.5rem;
}

.negative {
  background-color: theme('colors.red.light');
  border-radius: 0 0.5rem 0.5rem 0;
}

.scaleFull {
  border-radius: 0.5rem;
}

@media screen and (max-width: theme('screens.mobile')) {
  .scaleContainer {
    height: 1.5rem;
  }

  .positive {
    border-radius: 0.75rem 0 0 0.75rem;
  }

  .negative {
    border-radius: 0 0.75rem 0.75rem 0;
  }

  .scaleFull {
    border-radius: 0.75rem;
  }
}
