.nav {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-grow: 1;
}

.list {
  display: flex;
  flex-direction: column;
}

.account {
  padding: 0 theme('gap.md');
}

.accountName {
  width: calc(theme('sideBar') - 2 * theme('gap.md'));
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: center;
}

.logoutButton {
  color: theme('colors.blue.textDefault');
}

.listItem {
  display: block;
  list-style-type: none;
}

.listLink {
  display: flex;
  width: 100%;
  align-items: center;
  max-width: 100%;

  color: theme('colors.gray');

  gap: 0.5rem;

  height: 2.25rem;
  padding-right: theme('spacing.4');
  padding-left: theme('spacing.3');
  border-left: 0.25rem solid transparent;

  box-sizing: border-box;
  cursor: pointer;
  white-space: nowrap;

  transition: color 0.2s ease-in-out, border-color 0.2s ease-in-out;

  &:hover {
    border-left: 0.25rem solid theme('colors.blue.default');
  }

  &:active .icon {
    color: theme('colors.blue.default');
  }
}

@media screen(mobile) {
  .listLink {
    height: 4.5rem;
  }
}

.selected .listLink {
  color: theme('colors.black');
  border-left: 0.25rem solid theme('colors.blue.default');

  & .icon {
    color: theme('colors.blue.default');
  }
}

.icon {
  color: theme('colors.blue.sat_1');
}
