.wrapper {
  display: flex;
  flex-direction: column;
  gap: theme('gap.DEFAULT');

  @media screen(desktop) {
    &.card {
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;
    }

    &.list {
      gap: 0;
    }
  }
}
