.sidebar {
  position: fixed;
  display: flex;
  flex-direction: column;

  min-width: 240px;
  height: 100vh;

  padding-bottom: theme('gap.xl');

  background: theme('colors.white');
  box-shadow: theme('dropShadow.sideBar');

  opacity: 0;
  visibility: hidden;
  transform: scale(1);
  transition: transform ease-in 0.15s, opacity 0.15s, visibility 0.15s;
}

.logo {
  height: 56px;
  display: flex;
  align-items: center;
  padding-left: theme('gap.md');

  @apply text-heading font-heading text-orange;
  /* TODO: remove 900 from index.html after normal logo will be */
  font-weight: 900;
}

.isOpen {
  opacity: 1;
  visibility: visible;
}

.main {
  margin-left: 240px;
}

.content {
  width: 100%;
  max-width: 880px;
  margin: 0 auto;
  display: flex;
  /* same as at src/shared/ui/components/layout/layout.module.css .layout */
  transition: transform ease-in 0.15s, margin-left 0.15s;
  flex-direction: column;
  gap: theme('gap.lg');
  padding-left: theme('gap.xl');
  padding-right: theme('gap.xl');
}

@media screen(tablet) {
  .content {
    gap: theme('gap.md');
    padding-left: theme('gap.md');
    padding-right: theme('gap.md');
  }
}
