.root {
  color: theme('colors.blue.default');
  transition: transform 0.15s ease-in-out;
}

.up {
  transform: rotate(-180deg);
}

.down {
  transform: rotate(0deg);
}

.right {
  transform: rotate(-90deg);
}

.left {
  transform: rotate(90deg);
}
