.header {
  @apply flex flex-row justify-between items-center mx-auto;
  height: 56px;
  background: linear-gradient(180deg, #fff 0%, #fff 90%, rgba(255, 255, 255, 0.5) 100%);
  z-index: 100;
  width: 100%;
  max-width: 880px;

  padding-left: theme('gap.xl');
  padding-right: theme('gap.xl');
}

.burgerMenu {
  display: none;
}

@media screen(tablet) {
  .header {
    padding-left: theme('gap.md');
    padding-right: theme('gap.md');
  }

  .burgerMenu {
    display: flex;
  }
}
