.scene {
  @apply bg-gradient-to-r from-[#f8c9a0] to-[#a0c2f8]
    min-h-screen
    flex
    flex-col
    justify-center
    overflow-hidden;
}

.layout {
  display: flex;
  width: 100%;
  box-shadow: theme('dropShadow.layout');
}

.column {
  @apply flex-col;
}

.row {
  @apply flex-row;
}

.content {
  padding-right: 5rem;
  padding-left: 5rem;
}

@media screen and (max-width: theme('screens.mobile')) {
  .content {
    padding-right: 1rem;
    padding-left: 1rem;
  }
}
