.scene {
  @apply bg-gradient-to-r from-[#f8c9a0] to-[#a0c2f8]
    min-h-screen
    flex
    flex-col
    justify-center
    overflow-hidden;
}

.layout {
  display: flex;
  width: 100%;
  transition: transform ease-in 0.15s, margin-left 0.15s;
}

.column {
  @apply flex-col;
}

.row {
  @apply flex-row;
}

.content {
  padding-right: 5rem;
  padding-left: 5rem;
  padding-bottom: 3.25rem;
}

.sidebar {
  margin-left: 15rem;
}

@media screen and (max-width: theme('screens.tablet')) {
  .content {
    padding-right: 1rem;
    padding-left: 1rem;
  }
}
