.wrapper {
  display: flex;
  flex-direction: column;
  gap: theme('gap.DEFAULT');
}

@media screen and (min-width: theme('screens.laptop')) {
  .wrapper-card {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .wrapper-list {
    gap: 0;
  }
}
