.visual {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 1.25rem;
  height: 1.25rem;
  border: 1px solid theme('colors.blue.default');
  box-sizing: border-box;
  border-radius: 100%;
  outline: none;
  background-color: theme('colors.white');
  color: theme('colors.white');

  transition: all 0.15s ease;
  transition-property: background-color, border;

  & .icon {
    height: 0.5rem;
    width: 0.5rem;

    background-color: theme('colors.white');
    border-radius: 100%;

    transition: background-color 0.15s ease;
  }
}

.input {
  &:checked + .visual {
    border: 1px solid theme('colors.blue.default');
    background-color: theme('colors.blue.default');
  }

  &:hover + .visual {
    background-color: theme('colors.blue.dark');
    color: theme('colors.blue.dark');
  }

  &:hover + .visual .icon {
    color: theme('colors.blue.dark');
  }

  &:active + .visual {
    background-color: theme('colors.blue.dark');
    border-color: theme('colors.blue.default');
    color: theme('colors.blue.dark');
  }

  &:disabled + .visual {
    background-color: theme('colors.gray');
  }

  &:checked + .visual,
  &:checked:active + .visual,
  &:checked:focus + .visual {
    border: 1px solid theme('colors.blue.default');
    background-color: theme('colors.blue.default');
  }

  &:checked:hover + .visual {
    border: 1px solid theme('colors.blue.dark');
    background-color: theme('colors.blue.dark');
    color: theme('colors.white');
  }

  &:checked + .visual {
    opacity: 1;
    background-color: theme('colors.blue.default');
    color: theme('colors.white');
  }

  &:checked:hover + .visual {
    background-color: theme('colors.blue.dark');
  }
}
