.councilWidget {
  flex-direction: row;
  justify-content: space-between;
  margin-left: 0;
  margin-right: 0;
  max-width: 100%;
}

.mobileDesktop {
  display: none;
}

.pieChart {
  width: 72px;
  height: 72px;
}

.scaleContainer {
  display: none;
}

@media screen(mobile) {
  .councilWidget {
    flex-direction: column;
    margin-bottom: theme('spacing.4');
  }

  .textDesktop {
    display: none;
  }

  .mobileDesktop {
    display: flex;
    margin-top: theme('spacing.3');
  }

  .pieChart {
    display: none;
  }

  .quorumContainer {
    width: 100%;
  }

  .scaleContainerRoot {
    margin-top: theme('spacing.2');
  }

  .scaleContainer {
    display: flex;
    height: theme('spacing.3');
  }

  .changePolicyButton {
    margin-top: theme('spacing.2');
  }

  .verticalLine {
    display: none;
  }
}
